page-home {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .titoloTesta{
        color: $titoloTesta;
        font-weight: bold;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-content: center;
        h2{
          font-size: 0.8em;
        }
        .buttonSlide{
            width: 10rem;
        }
        .icon {
            font-size: 5rem; //Preferred size here
        }
    }

}
