page-add-modify {
  .titoloTesta {
    color: rgb(122, 120, 120);
    font-weight: bold;
    // text-shadow: black 0px 0px 5px  ;
  }
  ion-input, ion-datetime, ion-label{
    font-size: 1.2em;
  }
  
  .containerDivFoto {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    .contImage {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: rgb(212, 212, 212);
      box-shadow: rgb(94, 94, 94) 0px 0px 5px;
      height: 30rem;
      width: 30rem;
      ion-icon{
          color: white;
          font-size: 5em;
      }
    }
  }
}
